.a{
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transition-duration: 0.3s;
    border: none;
    rotate: 45deg;
    border-top: none;
    cursor:ne-resize;
}
